# Completeness of Scholars@TAMU Data After Cleaning  
**Filename:** completeness_after_clean.ipynb  
**Path:** TAMIDS/Code/Scholars@TAMU Data/completeness_after_clean.ipynb  
**Created Date:** 02 April 2022, 21:30 

This is pretty much the same file as before, but using the data produced by cleaning.ipynb

In [1]:
from IPython.display import Markdown, display, HTML
from typing import Dict
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import json

pd.options.display.float_format = '{:,.3f}'.format
pd.options.styler.format.precision = 2
pd.options.styler.format.thousands = ','
pd.options.display.max_columns = 50
pd.options.display.max_rows = 150
plt.style.use('seaborn-darkgrid')

# General Markdown Formatting Functions

def printmd(string, level=1):
    header_level = '#'*level + ' '
    display(Markdown(header_level + string))

## Scholars@TAMU

In [2]:
base_path = "../../Data/Scholars@TAMU"

!ls "$base_path"

courses           my_api_calls      people
grants_and_awards organizations     publications

In [3]:
def count_types(df: pd.DataFrame, percentage=False, plot=False, show_table=False, color_map:str=False) -> pd.DataFrame:
    new_df = pd.DataFrame()

    # the below can count the total amount of characters in a column
    # doof = df.copy()
    # doof = doof.applymap(lambda x: len(str(x)))
    # display(doof.sum())

    for column in df:
        new_df[column] = df[column].apply(lambda x: "nan" if pd.isna(x) else type(x).__name__)
    new_df = new_df.apply(pd.value_counts)

    if percentage:
        new_df = new_df / new_df.sum() * 100

    if plot:
        new_df.T.plot.bar()
        plt.yscale("log")
        plt.rcParams["figure.figsize"]
        plt.show()

    if show_table:
        if color_map:
            cm = sns.light_palette(color_map, as_cmap=True)
            color_df = new_df.style.background_gradient(cmap=cm, axis=None)
            color_df = color_df.applymap(lambda x: 'color: transparent' if pd.isnull(x) else '')
            color_df = color_df.applymap(lambda x: 'background-color: transparent' if pd.isnull(x) else '')
            display(color_df)
        else:
            display(new_df)


    return new_df

In [4]:
def slice_unnamed_columns(df: pd.DataFrame):
    return df.loc[:,~df.columns.str.contains('Unnamed:')]

def calculate_completeness(df: pd.DataFrame, show_table=False, color_map:str=False) -> pd.DataFrame:
    sliced_df = slice_unnamed_columns(df)
    missing_values = sliced_df.isna().sum()
    total_rows = sliced_df.shape[0]
    availible_values = sliced_df.count()
    data_completeness = (1 - missing_values / total_rows ) *  100

    new_df = pd.DataFrame({
        'data_completeness': data_completeness,
        'total_rows': total_rows,
        'availible_values': availible_values,
        'missing_values': missing_values
    })

    if show_table:
        if color_map:
            cm = sns.color_palette(color_map, as_cmap=True)
            color_df = new_df.style.text_gradient(cmap=cm, axis=0, gmap=new_df['data_completeness'], vmin=0, vmax=100)
            display(color_df)
        else:
            display(new_df)

    return new_df

In [5]:
def col_types_to_json(df_dict:Dict[str, pd.DataFrame], folder_name: str):
    type_dict = {}
    for file_name, df in df_dict.items():
        sliced_df = slice_unnamed_columns(df)
        counted_df = count_types(sliced_df)
        type_dict[file_name] = {column: counted_df[column].idxmax() for column in counted_df}

    with open('dicts/column_types/' + folder_name + '_col_types.json', 'w') as outfile:
        json.dump(type_dict, outfile, indent=4)

In [6]:
with open('dicts/data_filenames.json', 'r') as outfile:
    data_filenames = json.load(outfile)

## ./people

In [7]:
people_path = base_path + "/people"

people_data = {picklename: pd.read_pickle(people_path + "/" + picklename + ".pickle") for picklename in data_filenames['people']}

In [8]:
for name, df in people_data.items():
    printmd(name, 3)
    new_df = count_types(df, show_table=True, color_map='green')

### people_affiliation

### people_education

### people_overview

### people_subject_areas

In [9]:
people_stats = {}

for name, df in people_data.items():
    printmd(name, 3)
    people_stats[name] = calculate_completeness(df, show_table=True, color_map='light:red_r')

### people_affiliation

### people_education

### people_overview

### people_subject_areas

## ./courses

In [10]:
courses_path = base_path + "/courses"

courses_data = {picklename: pd.read_pickle(courses_path + "/" + picklename + ".pickle") for picklename in data_filenames['courses']}

In [11]:
for name, df in courses_data.items():
    printmd(name, 3)
    new_df = count_types(df, show_table=True, color_map='green')

### course_overview

In [12]:
courses_stats = {}

for name, df in courses_data.items():
    printmd(name, 3)
    courses_stats[name] = calculate_completeness(df, show_table=True, color_map='light:red_r')

### course_overview

## ./grants_and_awards

In [13]:
grants_path = base_path + "/grants_and_awards"

grants_data = {picklename: pd.read_pickle(grants_path + "/" + picklename + ".pickle") for picklename in data_filenames['grants_and_awards']}

In [14]:
for name, df in grants_data.items():
    printmd(name, 3)
    new_df = count_types(df, show_table=True, color_map='green')

### awards_overview

### grants_abstract

### grants_overview

In [15]:
grants_stats = {}

for name, df in grants_data.items():
    printmd(name, 3)
    grants_stats[name] = calculate_completeness(df, show_table=True, color_map='light:red_r')

### awards_overview

### grants_abstract

### grants_overview

## ./organizations

In [16]:
orgs_path = base_path + "/organizations"

orgs_data = {picklename: pd.read_pickle(orgs_path + "/" + picklename + ".pickle") for picklename in data_filenames['organizations']}

In [17]:
for name, df in orgs_data.items():
    printmd(name, 3)
    new_df = count_types(df, show_table=True, color_map='green')

### organizations_external

### organizations_local

In [18]:
orgs_stats = {}

for name, df in orgs_data.items():
    printmd(name, 3)
    orgs_stats[name] = calculate_completeness(df, show_table=True, color_map='light:red_r')

### organizations_external

### organizations_local

## ./publications

In [19]:
pubs_path = base_path + "/publications"

pubs_data = {picklename: pd.read_pickle(pubs_path + "/" + picklename + ".pickle") for picklename in data_filenames['publications']}

In [20]:
for name, df in pubs_data.items():
    printmd(name, 3)
    new_df = count_types(df, show_table=True, color_map='green')

### publications_abstract

### publications_author_institutions

### publications_overview

### publications_subject_journal_wos

### publications_unsdg

In [21]:
pubs_stats = {}

for name, df in pubs_data.items():
    printmd(name, 3)
    pubs_stats[name] = calculate_completeness(df, show_table=True, color_map='light:red_r')

### publications_abstract

### publications_author_institutions

### publications_overview

### publications_subject_journal_wos

### publications_unsdg

## Combined

In [22]:
combined_dict = {
    'people': pd.concat(people_stats.values(), axis=0, keys=people_stats.keys()),
    'courses': pd.concat(courses_stats.values(), axis=0, keys=courses_stats.keys()),
    'grants_and_awards': pd.concat(grants_stats.values(), axis=0, keys=grants_stats.keys()),
    'organizations': pd.concat(orgs_stats.values(), axis=0, keys=orgs_stats.keys()),
    'publications': pd.concat(pubs_stats.values(), axis=0, keys=pubs_stats.keys())
}

combined_df = pd.concat(combined_dict.values(), axis=0, keys=combined_dict.keys())

combined_df

                                                                                     data_completeness  \
people            people_affiliation               uid                                         100.000
                                                   uin                                         100.000
                                                   people_uri                                  100.000
                                                   people_api                                  100.000
                                                   position_dept_id                             99.462
                  people_education                 uid                                          99.967
                                                   uin                                          99.967
                                                   people_uri                                   99.967
                                                   people_api                                   99.967
                                                   external_org_id                              99.989
                                                   granting_school_name                        100.000
                                                   degreeuri_text                               94.968
                                                   year                                         94.419
                                                   major                                        84.673
                  people_overview                  uid                                         100.000
                                                   uin                                         100.000
                                                   people_uri                                  100.000
                                                   people_api                                  100.000
                                                   status                                      100.000
                                                   dept_id                                     100.000
                                                   lastname                                    100.000
                                                   middle                                       68.491
                                                   firstname                                   100.000
                                                   preferred_title                              99.897
                                                   email                                        97.345
                                                   overview                                     36.962
                  people_subject_areas             uid                                         100.000
                                                   uin                                         100.000
                                                   people_uri                                  100.000
                                                   people_api                                  100.000
                                                   research_areas                               42.331
courses           course_overview                  uid                                         100.000
                                                   uin                                         100.000
                                                   people_uri                                  100.000
                                                   people_api                                  100.000
                                                   course                                      100.000
                                                   course_name                                 100.000
                                                   acad_dept                                   100.000
                                                   year                                         99.953
grants_and_awards awards_overview                  uid                                         100.000
                                                   uin                                         100.000
                                                   people_uri                                  100.000
                                                   people_api                                  100.000
                                                   award_id                                     41.763
                                                   year                                         41.763
                                                   award_name                                   41.703
                                                   authoritative_name_id                        41.703
                  grants_abstract                  grant_uri                                   100.000
                                                   grant_api                                   100.000
                                                   abstract                                     48.811
                  grants_overview                  uid                                         100.000
                                                   uin                                         100.000
                                                   people_uri                                  100.000
                                                   people_api                                  100.000
                                                   grant_uid                                   100.000
                                                   grant_uri                                   100.000
                                                   grant_api                                   100.000
                                                   start_year                                   99.121
                                                   end_year                                     98.725
                                                   role                                        100.000
                                                   grant_awarded_by_external_org_id             99.948
                                                   title                                       100.000
organizations     organizations_external           external_org_id                             100.000
                                                   external_org_uri                            100.000
                                                   external_org_api                            100.000
                                                   authoritative_name                           99.999
                                                   authoritative_name_city                      99.506
                                                   authoritative_name_state                     36.632
                                                   authoritative_name_country                   99.530
                                                   grid_id                                      99.444
                                                   aa_id                                         1.038
                  organizations_local              [dept_id]                                   100.000
                                                   [dept_name]                                 100.000
                                                   [department_uri]                            100.000
                                                   [department_api]                            100.000
publications      publications_abstract            publication_uri                             100.000
                                                   publication_api                             100.000
                                                   abstract                                     75.046
                  publications_author_institutions publication_uri                             100.000
                                                   publication_api                             100.000
                                                   organisation                                100.000
                                                   city                                        100.000
                                                   country                                     100.000
                  publications_overview            people_uid                                  100.000
                                                   uin                                         100.000
                                                   people_uri                                  100.000
                                                   people_api                                  100.000
                                                   dept_id                                     100.000
                                                   publication_uid                             100.000
                                                   publication_uri                             100.000
                                                   publication_api                             100.000
                                                   doi                                          80.504
                                                   issn                                         84.405
                                                   eissn                                        63.339
                                                   journal_title                                87.196
                                                   month                                        94.778
                                                   year                                         99.759
                                                   begin_page                                  100.000
                                                   end_page                                    100.000
                                                   volume                                      100.000
                                                   issue                                       100.000
                                                   publisher                                    81.491
                                                   publication_type                            100.000
                                                   publication_title                            99.993
                  publications_subject_journal_wos publication_uri                             100.000
                                                   publication_api                             100.000
                                                   wos_id                                       93.986
                                                   wos_research_area_id                         93.986
                                                   keyword                                      93.986
                  publications_unsdg               publication_uri                             100.000
                                                   publication_api                             100.000
                                                   category_sdg_id                             100.000
                                                   name                                        100.000

                                                                                     total_rows  \
people            people_affiliation               uid                                     5944
                                                   uin                                     5944
                                                   people_uri                              5944
                                                   people_api                              5944
                                                   position_dept_id                        5944
                  people_education                 uid                                     9121
                                                   uin                                     9121
                                                   people_uri                              9121
                                                   people_api                              9121
                                                   external_org_id                         9121
                                                   granting_school_name                    9121
                                                   degreeuri_text                          9121
                                                   year                                    9121
                                                   major                                   9121
                  people_overview                  uid                                     4859
                                                   uin                                     4859
                                                   people_uri                              4859
                                                   people_api                              4859
                                                   status                                  4859
                                                   dept_id                                 4859
                                                   lastname                                4859
                                                   middle                                  4859
                                                   firstname                               4859
                                                   preferred_title                         4859
                                                   email                                   4859
                                                   overview                                4859
                  people_subject_areas             uid                                     7328
                                                   uin                                     7328
                                                   people_uri                              7328
                                                   people_api                              7328
                                                   research_areas                          7328
courses           course_overview                  uid                                    70291
                                                   uin                                    70291
                                                   people_uri                             70291
                                                   people_api                             70291
                                                   course                                 70291
                                                   course_name                            70291
                                                   acad_dept                              70291
                                                   year                                   70291
grants_and_awards awards_overview                  uid                                    10052
                                                   uin                                    10052
                                                   people_uri                             10052
                                                   people_api                             10052
                                                   award_id                               10052
                                                   year                                   10052
                                                   award_name                             10052
                                                   authoritative_name_id                  10052
                  grants_abstract                  grant_uri                               5802
                                                   grant_api                               5802
                                                   abstract                                5802
                  grants_overview                  uid                                     5803
                                                   uin                                     5803
                                                   people_uri                              5803
                                                   people_api                              5803
                                                   grant_uid                               5803
                                                   grant_uri                               5803
                                                   grant_api                               5803
                                                   start_year                              5803
                                                   end_year                                5803
                                                   role                                    5803
                                                   grant_awarded_by_external_org_id        5803
                                                   title                                   5803
organizations     organizations_external           external_org_id                        95673
                                                   external_org_uri                       95673
                                                   external_org_api                       95673
                                                   authoritative_name                     95673
                                                   authoritative_name_city                95673
                                                   authoritative_name_state               95673
                                                   authoritative_name_country             95673
                                                   grid_id                                95673
                                                   aa_id                                  95673
                  organizations_local              [dept_id]                                586
                                                   [dept_name]                              586
                                                   [department_uri]                         586
                                                   [department_api]                         586
publications      publications_abstract            publication_uri                       223178
                                                   publication_api                       223178
                                                   abstract                              223178
                  publications_author_institutions publication_uri                       950084
                                                   publication_api                       950084
                                                   organisation                          950084
                                                   city                                  950084
                                                   country                               950084
                  publications_overview            people_uid                            223171