# Checking the Completeness of Scholars@TAMU Data  
**Filename:** cleaning.ipynb  
**Path:** TAMIDS/Code/Scholars@TAMU Data/completeness.ipynb  
**Created Date:** 18 March 2022, 16:34

In [21]:
from IPython.display import Markdown, display, HTML
from typing import Dict
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import json

pd.options.display.float_format = '{:,.3f}'.format
pd.options.styler.format.precision = 2
pd.options.styler.format.thousands = ','
pd.options.display.max_columns = 50
pd.options.display.max_rows = 150
plt.style.use('seaborn-darkgrid')

# General Markdown Formatting Functions

def printmd(string, level=1):
    header_level = '#'*level + ' '
    display(Markdown(header_level + string))

## Scholars@TAMU

In [1]:
base_path = "../../Data/Scholars@TAMU"

!tree "$base_path"

../../Data/Scholars@TAMU
├── courses
│   ├── course_overview.pickle
│   └── raw_course_overview.pickle
├── grants_and_awards
│   ├── awards_overview.pickle
│   ├── grants_abstract.pickle
│   ├── grants_overview.pickle
│   ├── raw_awards_overview.pickle
│   ├── raw_grants_abstract.pickle
│   └── raw_grants_overview.pickle
├── organizations
│   ├── organizations_external.pickle
│   ├── organizations_local.pickle
│   ├── raw_organizations_external.pickle
│   └── raw_organizations_local.pickle
├── people
│   ├── people_affiliation.pickle
│   ├── people_education.pickle
│   ├── people_overview.pickle
│   ├── people_subject_areas.pickle
│   ├── raw_people_affiliation.pickle
│   ├── raw_people_education.pickle
│   ├── raw_people_overview.pickle
│   └── raw_people_subject_areas.pickle
└── publications
    ├── publications_abstract.pickle
    ├── publications_author_institutions.pickle
    ├── publications_overview.pickle
    ├── publications_subject_journal_wos.pickle
    ├── publications_unsdg.pickle
    ├── pubs_abstract.pickle
    ├── pubs_author_institutions.pickle
    ├── pubs_overview.pickle
    ├── pubs_subject_journal_wos.pickle
    ├── pubs_unsdg.pickle
    ├── raw_publications_abstract.pickle
    ├── raw_publications_author_institutions.pickle
    ├── raw_publications_overview.pickle
    ├── raw_publications_subject_journal_wos.pickle
    └── raw_publications_unsdg.pickle

5 directories, 35 files

In [23]:
def count_types(df: pd.DataFrame, percentage=False, plot=False, show_table=False, color_map:str=False) -> pd.DataFrame:
    new_df = pd.DataFrame()
    for column in df:
        new_df[column] = df[column].apply(lambda x: "nan" if pd.isna(x) else type(x).__name__)
    new_df = new_df.apply(pd.value_counts)

    if percentage:
        new_df = new_df / new_df.sum() * 100

    if plot:
        new_df.T.plot.bar()
        plt.yscale("log")
        plt.rcParams["figure.figsize"]
        plt.show()

    if show_table:
        if color_map:
            cm = sns.light_palette(color_map, as_cmap=True)
            color_df = new_df.style.background_gradient(cmap=cm, axis=None)
            color_df = color_df.applymap(lambda x: 'color: transparent' if pd.isnull(x) else '')
            color_df = color_df.applymap(lambda x: 'background-color: transparent' if pd.isnull(x) else '')
            display(color_df)
        else:
            display(new_df)


    return new_df

In [24]:
def slice_unnamed_columns(df: pd.DataFrame):
    return df.loc[:,~df.columns.str.contains('Unnamed:')]

def calculate_completeness(df: pd.DataFrame, show_table=False, color_map:str=False) -> pd.DataFrame:
    sliced_df = slice_unnamed_columns(df)
    missing_values = sliced_df.isna().sum()
    total_rows = sliced_df.shape[0]
    availible_values = sliced_df.count()
    data_completeness = (1 - missing_values / total_rows ) *  100

    new_df = pd.DataFrame({
        'data_completeness': data_completeness,
        'total_rows': total_rows,
        'availible_values': availible_values,
        'missing_values': missing_values
    })

    if show_table:
        if color_map:
            cm = sns.color_palette(color_map, as_cmap=True)
            color_df = new_df.style.text_gradient(cmap=cm, axis=0, gmap=new_df['data_completeness'], vmin=0, vmax=100)
            display(color_df)
        else:
            display(new_df)

    return new_df

In [25]:
def col_types_to_json(df_dict:Dict[str, pd.DataFrame], folder_name: str):
    type_dict = {}
    for file_name, df in df_dict.items():
        sliced_df = slice_unnamed_columns(df)
        counted_df = count_types(sliced_df)
        type_dict[file_name] = {column: counted_df[column].idxmax() for column in counted_df}

    with open('dicts/column_types/' + folder_name + '_col_types.json', 'w') as outfile:
        json.dump(type_dict, outfile, indent=4)

In [26]:
with open('dicts/raw_filenames.json', 'r') as outfile:
    raw_filenames = json.load(outfile)

## ./people

In [27]:
people_path = base_path + "/people"

people_raw = {picklename: pd.read_pickle(people_path + "/raw_" + picklename + ".pickle") for picklename in raw_filenames['people']}

In [28]:
for name, df in people_raw.items():
    printmd(name, 3)
    new_df = count_types(df, show_table=True, color_map='green')

### people_affiliation

### people_education

### people_overview

### people_subject_areas

In [29]:
people_stats = {}

for name, df in people_raw.items():
    printmd(name, 3)
    people_stats[name] = calculate_completeness(df, show_table=True, color_map='light:red_r')

### people_affiliation

### people_education

### people_overview

### people_subject_areas

In [30]:
col_types_to_json(people_raw, 'people')

## ./courses

In [31]:
courses_path = base_path + "/courses"

courses_raw = {picklename: pd.read_pickle(courses_path + "/raw_" + picklename + ".pickle") for picklename in raw_filenames['courses']}

In [32]:
for name, df in courses_raw.items():
    printmd(name, 3)
    new_df = count_types(df, show_table=True, color_map='green')

### course_overview

In [33]:
courses_stats = {}

for name, df in courses_raw.items():
    printmd(name, 3)
    courses_stats[name] = calculate_completeness(df, show_table=True, color_map='light:red_r')

### course_overview

In [34]:
col_types_to_json(courses_raw, 'courses')

## ./grant_award

In [35]:
grants_path = base_path + "/grants_and_awards"

grants_raw = {picklename: pd.read_pickle(grants_path + "/raw_" + picklename + ".pickle") for picklename in raw_filenames['grants_and_awards']}

In [36]:
for name, df in grants_raw.items():
    printmd(name, 3)
    new_df = count_types(df, show_table=True, color_map='green')

### awards_overview

### grants_abstract

### grants_overview

In [37]:
grants_stats = {}

for name, df in grants_raw.items():
    printmd(name, 3)
    grants_stats[name] = calculate_completeness(df, show_table=True, color_map='light:red_r')

### awards_overview

### grants_abstract

### grants_overview

In [38]:
col_types_to_json(grants_raw, 'grants_and_awards')

## ./organizations

In [39]:
orgs_path = base_path + "/organizations"

orgs_raw = {picklename: pd.read_pickle(orgs_path + "/raw_" + picklename + ".pickle") for picklename in raw_filenames['organizations']}

In [40]:
for name, df in orgs_raw.items():
    printmd(name, 3)
    new_df = count_types(df, show_table=True, color_map='green')

### organizations_external

### organizations_local

In [41]:
orgs_stats = {}

for name, df in orgs_raw.items():
    printmd(name, 3)
    orgs_stats[name] = calculate_completeness(df, show_table=True, color_map='light:red_r')

### organizations_external

### organizations_local

In [42]:
col_types_to_json(orgs_raw, 'organizations')

## ./publications

In [43]:
pubs_path = base_path + "/publications"

pubs_raw = {picklename: pd.read_pickle(pubs_path + "/raw_" + picklename + ".pickle") for picklename in raw_filenames['publications']}

In [44]:
for name, df in pubs_raw.items():
    printmd(name, 3)
    new_df = count_types(df, show_table=True, color_map='green')

### publications_abstract

### publications_author_institutions

### publications_overview

### publications_subject_journal_wos

### publications_unsdg

In [45]:
pubs_stats = {}

for name, df in pubs_raw.items():
    printmd(name, 3)
    pubs_stats[name] = calculate_completeness(df, show_table=True, color_map='light:red_r')

### publications_abstract

### publications_author_institutions

### publications_overview

### publications_subject_journal_wos

### publications_unsdg

In [46]:
col_types_to_json(pubs_raw, 'publications')

## Combined

In [47]:
combined_dict = {
    'people': pd.concat(people_stats.values(), axis=0, keys=people_stats.keys()),
    'courses': pd.concat(courses_stats.values(), axis=0, keys=courses_stats.keys()),
    'grants_and_awards': pd.concat(grants_stats.values(), axis=0, keys=grants_stats.keys()),
    'organizations': pd.concat(orgs_stats.values(), axis=0, keys=orgs_stats.keys()),
    'publications': pd.concat(pubs_stats.values(), axis=0, keys=pubs_stats.keys())
}

combined_df = pd.concat(combined_dict.values(), axis=0, keys=combined_dict.keys())

combined_df

                                                                                     data_completeness  \
people            people_affiliation               uid                                         100.000
                                                   uin                                         100.000
                                                   people_uri                                  100.000
                                                   people_api                                  100.000
                                                   position_dept_id                             99.462
                  people_education                 uid                                          99.967
                                                   uin                                          99.967
                                                   people_uri                                   99.967
                                                   people_api                                   99.967
                                                   external_org_id                              99.989
                                                   granting_school_name                        100.000
                                                   degreeuri_text                               94.968
                                                   year                                         94.419
                                                   major                                        84.673
                  people_overview                  uid                                         100.000
                                                   uin                                         100.000
                                                   people_uri                                  100.000
                                                   people_api                                  100.000
                                                   status                                       99.979
                                                   dept_id                                      99.979
                                                   lastname                                     99.979
                                                   middle                                       68.477
                                                   firstname                                    99.979
                                                   preferred_title                              99.877
                                                   email                                        97.325
                                                   overview                                     36.955
                  people_subject_areas             uid                                         100.000
                                                   uin                                         100.000
                                                   people_uri                                  100.000
                                                   people_api                                  100.000
                                                   research_areas                               42.331
courses           course_overview                  uid                                         100.000
                                                   uin                                         100.000
                                                   people_uri                                  100.000
                                                   people_api                                  100.000
                                                   course                                      100.000
                                                   course_name                                 100.000
                                                   acad_dept                                   100.000
                                                   year                                         99.953
grants_and_awards awards_overview                  uid                                         100.000
                                                   uin                                         100.000
                                                   people_uri                                  100.000
                                                   people_api                                  100.000
                                                   award_id                                     41.764
                                                   year                                         41.764
                                                   award_name                                   41.705
                                                   authoritative_name_id                        41.705
                  grants_abstract                  grant_uri                                   100.000
                                                   grant_api                                   100.000
                                                   abstract                                     48.811
                  grants_overview                  uid                                         100.000
                                                   uin                                         100.000
                                                   people_uri                                  100.000
                                                   people_api                                  100.000
                                                   grant_uid                                   100.000
                                                   grant_uri                                   100.000
                                                   grant_api                                   100.000
                                                   start_year                                   99.121
                                                   end_year                                     98.725
                                                   role                                        100.000
                                                   grant_awarded_by_external_org_id             99.948
                                                   title                                       100.000
organizations     organizations_external           external_org_id                             100.000
                                                   external_org_uri                            100.000
                                                   external_org_api                            100.000
                                                   authoritative_name                           99.999
                                                   authoritative_name_city                      99.506
                                                   authoritative_name_state                     36.633
                                                   authoritative_name_country                   99.529
                                                   grid_id                                      99.444
                                                   aa_id                                         1.039
                  organizations_local              [dept_id]                                   100.000
                                                   [dept_name]                                 100.000
                                                   [department_uri]                            100.000
                                                   [department_api]                            100.000
publications      publications_abstract            publication_uri                             100.000
                                                   publication_api                             100.000
                                                   abstract                                     75.046
                  publications_author_institutions publication_uri                             100.000
                                                   publication_api                             100.000
                                                   organisation                                100.000
                                                   city                                        100.000
                                                   country                                     100.000
                  publications_overview            people_uid                                  100.000
                                                   uin                                         100.000
                                                   people_uri                                  100.000
                                                   people_api                                  100.000
                                                   dept_id                                     100.000
                                                   publication_uid                             100.000
                                                   publication_uri                             100.000
                                                   publication_api                             100.000
                                                   doi                                          80.504
                                                   issn                                         84.405
                                                   eissn                                        63.338
                                                   journal_title                                87.197
                                                   month                                        94.777
                                                   year                                         99.759
                                                   begin_page                                   91.731
                                                   end_page                                     86.865
                                                   volume                                       84.739
                                                   issue                                        69.445
                                                   publisher                                    81.491
                                                   publication_type                             99.999
                                                   publication_title                            99.993
                  publications_subject_journal_wos publication_uri                             100.000
                                                   publication_api                             100.000
                                                   wos_id                                       93.986
                                                   wos_research_area_id                         93.986
                                                   keyword                                      93.986
                  publications_unsdg               publication_uri                             100.000
                                                   publication_api                             100.000
                                                   category_sdg_id                             100.000
                                                   name                                        100.000

                                                                                     total_rows  \
people            people_affiliation               uid                                     5944
                                                   uin                                     5944
                                                   people_uri                              5944
                                                   people_api                              5944
                                                   position_dept_id                        5944
                  people_education                 uid                                     9121
                                                   uin                                     9121
                                                   people_uri                              9121
                                                   people_api                              9121
                                                   external_org_id                         9121
                                                   granting_school_name                    9121
                                                   degreeuri_text                          9121
                                                   year                                    9121
                                                   major                                   9121
                  people_overview                  uid                                     4860
                                                   uin                                     4860
                                                   people_uri                              4860
                                                   people_api                              4860
                                                   status                                  4860
                                                   dept_id                                 4860
                                                   lastname                                4860
                                                   middle                                  4860
                                                   firstname                               4860
                                                   preferred_title                         4860
                                                   email                                   4860
                                                   overview                                4860
                  people_subject_areas             uid                                     7328
                                                   uin                                     7328
                                                   people_uri                              7328
                                                   people_api                              7328
                                                   research_areas                          7328
courses           course_overview                  uid                                    70297
                                                   uin                                    70297
                                                   people_uri                             70297
                                                   people_api                             70297
                                                   course                                 70297
                                                   course_name                            70297
                                                   acad_dept                              70297
                                                   year                                   70297
grants_and_awards awards_overview                  uid                                    10054
                                                   uin                                    10054
                                                   people_uri                             10054
                                                   people_api                             10054
                                                   award_id                               10054
                                                   year                                   10054
                                                   award_name                             10054
                                                   authoritative_name_id                  10054
                  grants_abstract                  grant_uri                               5802
                                                   grant_api                               5802
                                                   abstract                                5802
                  grants_overview                  uid                                     5803
                                                   uin                                     5803
                                                   people_uri                              5803
                                                   people_api                              5803
                                                   grant_uid                               5803
                                                   grant_uri                               5803
                                                   grant_api                               5803
                                                   start_year                              5803
                                                   end_year                                5803
                                                   role                                    5803
                                                   grant_awarded_by_external_org_id        5803
                                                   title                                   5803
organizations     organizations_external           external_org_id                        95674
                                                   external_org_uri                       95674
                                                   external_org_api                       95674
                                                   authoritative_name                     95674
                                                   authoritative_name_city                95674
                                                   authoritative_name_state               95674
                                                   authoritative_name_country             95674
                                                   grid_id                                95674
                                                   aa_id                                  95674
                  organizations_local              [dept_id]                                586
                                                   [dept_name]                              586
                                                   [department_uri]                         586
                                                   [department_api]                         586
publications      publications_abstract            publication_uri                       223178
                                                   publication_api                       223178
                                                   abstract                              223178
                  publications_author_institutions publication_uri                       950084
                                                   publication_api                       950084
                                                   organisation                          950084
                                                   city                                  950084
                                                   country                               950084
                  publications_overview            people_uid                            223178